<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reminder List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let reminder of reminders">
    <ion-item [routerLink]="['/reminder', reminder.id, reminder.duration]">
      <ion-label>
        Reminder{{ reminder.id }}
      </ion-label>
      <ion-button [color]="reminder.priority == 'High' ? 'danger': reminder.priority == 'Middle' ? 'warning' : 'success'">{{ reminder.priority }}</ion-button>
      <ion-button [color]="reminder.status == 'Unfinished' ? 'danger':'primary'">{{ reminder.status }}</ion-button>
    </ion-item>

  </ion-list>
</ion-content>>